.box{
    height: 98vh;
    width: 99vw;
    background-color: hsl(217 54% 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20vw;
    height: 64vh;
    border-radius: 10px;
    background-color: hsl(216 50% 16%);
}

img{
    border-radius: 7px;
    width: 18vw;
    position: relative;
    top: 15px;
    left: 15px;
}

.content{
    color: white;
    font-size: 18px;
    padding: 15px 15px 0 15px;
}

.info{
    color: hsl(215 51% 70%);
    font-size: 15px;
}

.price{
    display: flex;
    color: aqua;
    justify-content: space-between;
    align-items: center;
}

.line{
    border: 1px solid black;
}

.creator img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.creator p {
    position: relative;
    top: 12px;
}

.creator{
    display: flex;
    justify-content: space-between;
}